@media screen and (max-width: 767px) {
    .job-detail-module .job-details, .job-detail-module .benefits-wrapper {
        width: 100%;
    }

    .job-detail-module .benefits-wrapper .benefits {
        border: none;
    }

    .job-detail-module .benefits-wrapper .benefits .benefits-box {
        display: block;
        width: 21%;
    }

    .job-detail-module .benefits-wrapper .benefits .benefits-box p {
        text-align: center;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        width: 100%;
    }

    body.bodyJobDetails .ce_form {
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }

    body.bodyJobDetails .job-description {
        width: 90%;
        margin: 20px auto;
    }

    body.bodyJobDetails .layout_full {
        width: 90%;
        margin: 0 auto;
    }

    body.bodyJobDetails .back {
        width: 90%;
        margin: 0 auto;
    }
}