<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
    <link rel="stylesheet" href="css/custom.css">
    <script src="js/modernizr.js"></script> <!-- Modernizr -->
    <title>###########</title>
</head>
<!-- hijacking: on/off - animation: none/scaleDown/rotate/gallery/catch/opacity/fixed/parallax -->

<body data-hijacking="on" data-animation="parallax">
<section class="cd-section visible">
    <div>
        <h2 class="center">
                <span>
                    Mit all unserer Energie ...<br><br>
                    … wollen wir bewegen, versorgen, vernetzen, erhalten.<br><br>
                    Wir arbeiten nachhaltig und regional im Sinne unserer Mitarbeiter
                    sowie in und für Weimar. <br><br>
                    Wir übernehmen Verantwortung für die Zukunft und
                    gehen mit neuen Ideen und nachhaltigem Handeln voran. <br><br>
                    Mit Leidenschaft, Kompetenz, Teamgeist und Engagement
                    sind wir persönlich vor Ort für Sie erreichbar <br><br>
                    … mit all unserer Energie!
                </span>
        </h2>
    </div>
</section>
<section class="cd-section">
    <div>
        <h2>Leitbild</h2>
    </div>
</section>
<section class="cd-section">
    <div>
        <h2>Section 2</h2>
    </div>
</section>
<section class="cd-section">
    <div>
        <h2>Section 3</h2>
    </div>
</section>
<section class="cd-section">
    <div>
        <h2 class="tree_1">
                <span>
                    Wir befördern jährlich bis zu 8 Mio. Fahrgäste und beschäftigen
                    85 Busfahrer. Zum Fuhrpark gehören 37 Busse.
                    Der Fokus liegt auf der Anschaffung von emissionsfreien
                    Elektro-Fahrzeugen.«
                </span>
        </h2>
    </div>
</section>
<section class="cd-section">
    <div>
        <h2 class="tree_1">
                <span>
                    6,5 Mio. Liter pure Erfrischung!
                    Das Weimarer Sport- und Freizeitbad bestehend aus
                    Schwansee-Freibad und -Hallenbad zählt in der Saison
                    (außerhalb der Pandemie) ca. 45.000 Besucher.
                </span>
        </h2>
    </div>
</section>
<section class="cd-section">
    <div>
        <h2 class="tree_1">
                <span>
                    Die Bioabfallmenge des Gesamtmüllaufkommens beträgt
                    im Stadtgebiet 5.000 t im Jahr; die in der Kompostanlage
                    der Stadtwirtschaft verwertet werden.
                </span>
        </h2>
    </div>
</section>
<section class="cd-section">
    <div>
        <h2 class="tree_1">
                <span>
                    Die SWW beliefern seit über 25 Jahren ca. 35.000 Haushalte
                    in Weimar zuverlässig mit Energie: Strom, Erdgas und Wärme.
                </span>
        </h2>
    </div>
</section>
<section class="cd-section">
    <div>
        <h2 class="tree_1">
                <span>
                    Nachdem die erste Ladesäule Thüringens durch die Stadtwerke
                    eingeweiht wurde, betreiben sie bis heute 12 Stationen mit insgesamt
                    25 Ladepunkten, die alle mit nachhaltigem WeimarStrom Mobil aus
                    100% Ökostrom gespeist werden und rund um die Uhr zapfbereit sind.
                </span>
        </h2>
    </div>
</section>
<section class="cd-section">
    <div>
        <h2 class="tree_1">
                <span>
                    Wir sind eng vernetzt und kooperieren mit regionalen
                    Zulieferern und Partnern. Gut für die Stadt und die ganze Region.<br><br>
                    Wir setzen auf Nachhaltigkeit: 2.000 klimaresiliente Bäume
                    für Weimar: Die Stadtwerke und der ThüringenForst pflanzen
                    einen »StadtWerkeWald« auf der Marienhöhe unter dem<br><br>
                    Motto: Wir forsten auf, dem Klima zuliebe.
                </span>
        </h2>
    </div>
</section>
<section class="cd-section">
    <div>
        <h2 class="tree_1 blue">
                <span>
                    Als einer der größten hier ansässigen Arbeitgeber,
                    als Versorger und Förderer Weimars seit 30 Jahren sind
                    wir eng mit der Stadt und ihren Menschen verbunden
                </span>
        </h2>
    </div>
</section>
<section class="cd-section">
    <div>
        <h2 class="tree_1 blue">
                <span>
                    Unser soziales Engagement ist keine Einbahnstraße.
                    Unsere Kunden und Mitarbeiter wissen das zu schätzen
                    und honorieren es mit ihrer langjährigen Treue.
                    Dafür bedanken wir uns herzlich!
                </span>
        </h2>
    </div>
</section>
<section class="cd-section">
    <div>
        <h2 class="tree_1 blue">
                <span>
                    Das vielseitige Engagement für unsere Stadt spiegelt sich
                    u.a. in der Unterstützung zahlreicher Vereine und Verbände,
                    besonders in der Kinder- und Jugendarbeit wider.
                    Spielplätze, Freibad: Förderung u.a. durch Ökostrom-Einnahmen.
                </span>
        </h2>
    </div>
</section>
<section class="cd-section">
    <div>
        <h2 class="tree_1 blue">
                <span>
                    Mit all unserer Energie ...
                    machen wir Weimar lebenswert.
                </span>
        </h2>
    </div>
</section>
<nav>
    <ul class="cd-vertical-nav">
        <li><a href="#0" class="cd-prev inactive">Next</a></li>
        <li><a href="#0" class="cd-next">Prev</a></li>
    </ul>
</nav>
<div class="header-bar">
    <div class="sw-logos">
        <img src="img/SWerkeW_Logo.svg">
        <img src="img/SWirtschaftW_Logo.svg">
        <img src="img/ENWG_Logo.svg">
    </div>
    <div class="leitbild">
        <h3><span>U</span>nser <span>L</span>eitbild</h3>
    </div>
</div>
<script src="js/jquery-2.1.4.js"></script>
<script src="js/velocity.min.js"></script>
<script src="js/velocity.ui.min.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>

</html>